<ion-header>
  <ion-navbar>
    <ion-title>WhatsApp</ion-title>
    <ion-buttons end>
      <button ion-button clear large (click)="pageSearch($event)"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button clear icon-only large (click)="presentPopover($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <super-tabs toolbarColor="light" selectedTabIndex="1" indicatorColor="light" toolbarBackground="secondary" (tabSelect)="onTabSelect($event)">
    <super-tab [root]="camera" title="" icon="camera"></super-tab>
    <super-tab [root]="chats" title="CHATS"></super-tab>
    <super-tab [root]="status" title="STATUS"></super-tab>
    <super-tab [root]="calls" title="CALLS"></super-tab>
  </super-tabs>
  
  <ion-fab right bottom>
    <!--<button ion-fab color="secondary" (click)="addChat()"><ion-icon name="md-chatboxes"></ion-icon></button>-->
    <button ion-fab color="secondary" (click)="addChat()" *ngIf="slideIndex == 1"><ion-icon name="md-chatboxes"></ion-icon></button>
    <button ion-fab color="secondary" (click)="addStatus()" *ngIf="slideIndex == 2"><ion-icon name="md-add-circle"></ion-icon></button>
    <button ion-fab color="secondary" (click)="addCall()" *ngIf="slideIndex == 3"><ion-icon name="md-call"></ion-icon></button>
  </ion-fab>
</ion-content>
