.ComponentSearch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 97%;
}
.closeSearch {
  position: absolute;
  z-index: 10000;
  top: 4px;
  left: 2%;
  color: #000 !important;
  bottom: 50px;
  background-color: #fff;
  height: 40px;
  width: 30px;
}
